body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightblue;
  }
  
  #ball {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
  }
  
  .platform {
    width: 100px;
    height: 15px;
    background-color: #00ff00;
    position: absolute;
  }